@use "@/styles/variables" as *;

.projectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 20rem;
  padding: $screen-padding-mobile;
  border: 1px solid $border-base;
  border-radius: $radius;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;

  @include tablet {
    gap: 0;
    height: 25rem;

    &:hover {
      .thumbnail {
        transform: scale(1.1);
      }

      .name {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
    }
  }

  .thumbnailWrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: $radius;

    .thumbnail {
      transition: transform 0.2s ease-in-out;
      object-fit: cover;
    }
  }

  .body {

    @include tablet {
      margin-top: 1.5rem;
    }

    .name {
      overflow: hidden;
      display: -webkit-box;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.4;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include tablet {
        font-size: 1.4rem;
      }
    }

    .description {
      overflow: hidden;
      display: -webkit-box;
      font-size: 0.8rem;
      color: $text-subtle;
      line-height: 1.4;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include tablet {
        font-size: 0.9rem;
        line-clamp: 3;
        -webkit-line-clamp: 3;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    .skillList {
      flex-shrink: 0;
      display: flex;
      gap: 0.5rem;

      @include tablet {
        gap: 1rem;
      }
    }

    .openIcon {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 1.7rem;
      height: 1.7rem;
      color: $text-active;

      @include tablet {
        width: 1.7rem;
        height: 1.7rem;
      };
    }
  }
}