@use "@/styles/variables" as *;

.button, .a {
  padding: 0.8rem;
  border: 1px solid $border-base;
  border-radius: $radius;
  background-color: $bg-base;

  @include tablet {
    padding: 1rem;
  }

  &.active {
    background-color: $bg-active;
    color: $text-invers
  }
}