@use "@/styles/variables" as *;

.dropALine {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  @include tablet {
    display: grid;
    row-gap: 2.5rem;
    grid-template: auto auto auto / minmax(0, 1fr) minmax(0, 1fr);
  }

  .inputWrapper {
    position: relative;

    .input {
      box-sizing: border-box;
      width: 100%;
      padding: $screen-padding-mobile;
      border: 1px solid $border-base;
      border-radius: $radius;

      &::placeholder {
        font-size: 0.9rem;
        font-weight: 300;
        color: $text-subtle;
      }
    }
  }

  .textareaWrapper {
    position: relative;

    @include tablet {
      grid-area: 2 / 1 / 3 / 3;
    }

    .textarea {
      width: 100%;
      min-height: 10rem;
      padding: $screen-padding-mobile;
      border: 1px solid $border-base;
      border-radius: $radius;

      &::placeholder {
        font-size: 0.9rem;
        font-weight: 300;
        color: $text-subtle;
      }
    }
  }

  .error {
    position: absolute;
    left: 0.5rem;
    bottom: -1.5rem;
    display: block;
    font-size: 0.8rem;
    color: rgb(214, 50, 50);
  }

  .submitBtn {
    width: 8rem;
    margin-left: auto;
    padding: $screen-padding-mobile;
    border-radius: $radius;
    background-color: $bg-active;
    font-size: 0.9rem;
    color: $text-invers;
    letter-spacing: 1px;

    @include tablet {
      grid-area: 3 / 2 / 4 / 3;
      width: 10rem;
      font-size: 1rem;
    }
  }
}