// Breakpoints & Media Queries
$breakpoint-mobile: 48rem;
$breakpoint-tablet: 64rem;
$breakpoint-desktop: 75rem;

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// Z-index
$Header-zidnex: 1010;
$heroSectionInner-zindex: 1000;
$techScroller-zindex: 900;
$backdrop-zindex: 1020;
$sidebar-zindex: 1030;
$modal-zindex: 1030;

// Max width
$max-width: 75rem;

// Height
$header-height-mobile: 4rem;
$header-height-tablet: 5rem;
$header-height-desktop: 5rem;

// Screen Padding
$screen-padding-mobile: 1rem;
$screen-padding-tablet: 1.5rem;
$screen-padding-desktop: 1.5rem;

// Border
$border-base: #DFE7E2;
$radius: 10px;

// Background Color
$bg-base: #FFFFFF;
$bg-subtle: #EEF1F6;
$bg-active: #148687;

// Font Color
$text-base: #2C2C2C;
$text-subtle: #808a87;
$text-invers: #FFFFFF;
$text-active: #148687;